<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uz.codearn.codearnapp">

    <application
        android:name=".CodearnApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Codearn">
        <activity
            android:name="uz.codearn.codearnapp.ui.main.finishtest.FinishTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.editprofile.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.test.TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.SendOTPActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>